# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'letsencrypt/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values
here that differ from whats in defaults.yaml
##}
{%
  set os_family_map = salt['grains.filter_by'](
    {
      'Debian': {},
      'Suse': {},
      'Arch': {},
      'RedHat': {},
    },
    grain="os_family",
    merge=salt['pillar.get']('letsencrypt:lookup')
  )
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.letsencrypt.update(os_family_map) %}

{## Merge in letsencrypt:lookup pillar ##}
{%
  set letsencrypt = salt['pillar.get'](
    'letsencrypt',
    default=default_settings.letsencrypt,
    merge=True
  )
%}
